* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: #454647;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    color: inherit;
    text-decoration: none;
  }
  &:link {
    color: inherit;
    text-decoration: none;
  }
}
.header {
  background: #343535;
  padding: 10px 0;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
}
.header__left {
  position: relative;
  display: flex;
  align-items: center;
  .social-link {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.img-logo {
  width: 140px;
  position: absolute;
  left: 23px;
  top: -6px;
  opacity: 0.9;
  z-index: 2;
}
.header__logo {
  a {
    color: inherit;
    position: relative;
    z-index: 2;
  }
}
.header__logo-title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  span {
    &:first-child {
      margin-right: 7px;
    }
    font-size: 20px;
    font-weight: normal;
    color: #d9643a;
  }
}
address {
  padding: 0;
  margin: 0;
}
.social-link {
  img {
    filter: grayscale(100%);
    width: 28px;
  }
  &:hover {
    img {
      cursor: pointer;
      filter: grayscale(0%);
    }
  }
}
.menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.menu__item {
  color: white;
  a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    &:hover {
      color: #989898;
    }
  }
}
.content {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 100%;
  height: 100%;
}

.about-site {
  overflow: hidden;
  margin-bottom: 45px;
}

.introduction {
  font-size: 1.8rem;
}
.introduction__header {
  font-weight: 700;
  font-size: 2.2rem;
}
.description {
  font-size: 1.3rem;
}
.description__paragraph {
  margin: 0;
  a {
    color: inherit;
    text-decoration: none;
    font-style: italic;
    &:hover {
      border-bottom: 1px solid white;
    }
  }
}
.search-form {
  position: relative;
  height: 48px;
  margin-top: 25px;
  z-index: 100;
  button {
    > img {
      width: 32px;
      height: 32px;
    }
  }
}
.search-form__input {
  width: 100%;
  height: 100%;
  padding: 8px 52px 8px 16px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
}
.button__search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  background-color: initial;
}

.list-card {
  list-style: none;
  background: #333434;
  margin: -33px 0 0 0;
  padding: 16px;
  border-radius: 5px;
  position: relative;
  .library-card {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
.library-card {
  background: #454647;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 2.25px;
  img {
    width: 20px;
    height: 20px;
  }
}
.title__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  > a {
    display: inline-block;
    font-size: 24px;
    color: #40e5fa;
    font-weight: 400;
    transition: color ease-in 0.2s;
    &:hover {
      color: #1998a9;
      transition: color ease-in 0.2s;
    }
  }
}
.link__card {
  .version__card {
    font-size: 14px;
  }
}
.rating__card {
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  color: #ebebeb;
  font-size: 14px;
  margin: 0 0 0 16px;
}
.library-asset-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 0 0 auto;
  a {
    margin-left: 16px;
    img {
      filter: brightness(100%);
      transition: all ease-in 0.1s;
      &:hover {
        filter: brightness(50%);
        transition: all ease-in 0.1s;
      }
    }
  }
}
.asset-button {
  position: relative;
  &:hover {
    &::before {
      content: attr(data-title);
      display: block;
      position: absolute;
      background: black;
      border-radius: 5px;
      top: 130%;
      left: -100%;
      padding: 5px;
      font-size: 12px;
      text-align: center;
      z-index: 1;
      width: 100px;
    }
  }
}
.keywords {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.keywords__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  width: auto;
  height: 20px;
  max-height: 20px;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  color: #333434;
  border-radius: 2px;
}
.description__card {
  flex-grow: 1;
  font-size: 15px;
  margin: 10px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.banner {
  background: #3ac6d9;
  color: #141515;
  padding: 10px 0px 10px 30px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  p {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: underline;
  }
  .banner__title {
    border-right: 2px black solid;
    padding-right: 5px;
    margin-right: 5px;
    font-size: 16px;
  }
}

.first-display {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background: #242525;
  color: #ebebeb;
  padding: 32px 16px;
  font-size: 14px;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  .footer__logo-title {
    font-size: 30px;
    line-height: 35px;
  }
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;

  .info__title {
    text-transform: uppercase;
    color: gray;
  }
  li {
    font-size: 16px;
    a {
      transition: color 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
      &:hover {
        color: #3ac6d9;
        cursor: pointer;
        transition: color 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
      }
    }
  }
}

// NOTE: Анимация
.show-list {
  animation: list-show 0.2s ease-in-out 1 forwards;
}

@keyframes list-show {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    margin-top: 45px;
    opacity: 1;
  }
}

.hide-list {
  animation: list-hide 0.1s ease-in-out 1 forwards;
}

@keyframes list-hide {
  0% {
    opacity: 1;
    margin-top: 45px;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    margin-top: 0px;
    opacity: 0;
  }
}

.hide-about {
  animation: about-site-hide 0.2s ease-in-out 1 forwards;
}

@keyframes about-site-hide {
  0% {
    height: 270px;
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

.show-about {
  animation: about-site-show 0.2s ease-in-out 1 forwards;
}

@keyframes about-site-show {
  0% {
    opacity: 0;
    height: 0;
  }
  25% {
    opacity: 0.2;
  }
  90% {
    height: 270px;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

// animation-name: <имя ключевых кадров>, <имя ключевых кадров 2>; указываем имя анимации
// animation-duration: <время>, <время 2>; в s или с ms
// animation-timing-function: ease, <имя>, <имя 2>; задает сценарий развития между анимациями
// animation-iteration-count: <значение>, <значение 2>; колво повторов ключевых кадров
// animation-direction: alternate-reverse; в каком порядке проигрывать анимацию
// animation-play-state: pause; позволяет приостоновить анимацию по событию
// animation-delay: 2s; длительность задержки перед анимацией
// animation-fill-mode: forwards; определяет какие значиения анимированых свойств применятся
// короткая запись
// animation: name duration timing-function count direction delay fill-mode, можно еще добавить анимацию;
